<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button text=""></ion-button>
    </ion-buttons>
    <ion-title>pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updateAt="25/04/2021 16:29" createdAt="24/01/2022"
    notes="Notatka: Mamy już zapełnione"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updateAt="24/04/2021 10:29" createdAt="23/01/2022"
    notes="Notatka: Mamy już zapełnione nie wiem"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updateAt="27/04/2021 10:29" createdAt="26/01/2022" notes="" value="15,00 PLN">
  </app-pickup-call-card>
</ion-content>