<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://k10.targeo.pl/i/cache/static/punkt/polska-restauracja/atelier-amaro~9999701.png" />
  <ion-card>
    <ion-card-content>
      <p>Adres: Sezamkowa 2</p>
      <p>Miasto: Warszawa</p>
      <p>Kod pocztowy: 123-123</p>
      <p>Mijescowośc: Mazowieckie</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notatki</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Stwóz miejsce</ion-button>
</ion-content>