ion-list {
    padding: 0;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 /20%);

    .money {
        font-weight: bold;
    }
}

ion-card-subtitle {
    font-weight: bold;
    text-transform: uppercase;
}